<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/fastselect.min.css') }}">
    </head>
    <body>
    
        {% block body %}{% endblock %}
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="{{ asset('js/fastselect.standalone.js') }}"></script>
		
        {% block javascripts %}
        <script type="text/javascript">

        $('.multipleInputDynamic').fastselect({
        		url: '{{url("datasource")}}' ,
        		elementClass: 'fstElement',
        	    singleModeClass: 'fstSingleMode',
        	    noneSelectedClass: 'fstNoneSelected',
        	    multipleModeClass: 'fstMultipleMode',
        	    queryInputClass: 'fstQueryInput',
        	    queryInputExpandedClass: 'fstQueryInputExpanded',
        	    fakeInputClass: 'fstFakeInput',
        	    controlsClass: 'fstControls',
        	    toggleButtonClass: 'fstToggleBtn',
        	    activeClass: 'fstActive',
        	    itemSelectedClass: 'fstSelected',
        	    choiceItemClass: 'fstChoiceItem',
        	    choiceRemoveClass: 'fstChoiceRemove',
        	    userOptionClass: 'fstUserOption',

        	    resultsContClass: 'fstResults',
        	    resultsOpenedClass: 'fstResultsOpened',
        	    resultsFlippedClass: 'fstResultsFilpped',
        	    groupClass: 'fstGroup',
        	    itemClass: 'fstResultItem',
        	    groupTitleClass: 'fstGroupTitle',
        	    loadingClass: 'fstLoading',
        	    noResultsClass: 'fstNoResults',
        	    focusedItemClass: 'fstFocused',

        	    matcher: null,

        	    loadOnce: false,
        	    apiParam: 'query',
        	    initialValue: null,
        	    clearQueryOnSelect: true,
        	    minQueryLength: 1,
        	    focusFirstItem: false,
        	    flipOnBottom: true,
        	    typeTimeout: 150,
        	    userOptionAllowed: false,
        	    valueDelimiter: ',',
        	    maxItems: null,

        	    parseData: null,
        	    onItemSelect: null,
        	    onItemCreate: null,
        	    onMaxItemsReached: null,

        	    placeholder: 'Choose option',
        	    searchPlaceholder: 'Search options',
        	    noResultsText: 'No results',
        	    userOptionPrefix: 'Add'
            	    
            });
        
        </script>
        
        {% endblock %}
    </body>
</html>
